.main {
  overflow: hidden;
  min-width: 364px;
  min-height: 348px;
  background-color: white;
  box-shadow: 0px 0px 2px #a4a4a4;
  transition: all 1000ms;
  -webkit-transition: all 1000ms; }
  .main .calendarHeader {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8; }
    .main .calendarHeader .prevYear {
      width: 20px;
      margin-right: 10px;
      float: left;
      cursor: pointer;
      height: 100%;
      background: url("%PUBLIC_URL%/global/images/year_picker_left@2x.png") center center no-repeat;
      background-size: 150%; }
    .main .calendarHeader .nextYear {
      width: 20px;
      margin-right: 10px;
      float: left;
      cursor: pointer;
      height: 100%;
      float: right;
      margin-left: 10px;
      background: url("%PUBLIC_URL%/global/images/year_picker_right@2x.png") center center no-repeat;
      background-size: 150%; }
    .main .calendarHeader .prevMonth, .main .calendarHeader .nextMonth {
      float: left;
      cursor: pointer;
      height: 100%;
      width: 20px;
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      color: #a4a4a4; }
      .main .calendarHeader .prevMonth i, .main .calendarHeader .nextMonth i {
        vertical-align: middle; }
    .main .calendarHeader .nextMonth {
      float: right; }
    .main .calendarHeader .dateInfo {
      position: absolute;
      width: 50%;
      left: 50%;
      line-height: 28px;
      text-align: center;
      margin-left: -25%;
      font-size: 16px;
      color: #212121; }
  .main #calendarMain {
    display: table;
    width: 100%;
    text-align: center;
    padding: 0px 16px;
    font-size: 14px;
    color: #212121;
    border-collapse: separate;
    border-spacing: 18px 16px; }
    .main #calendarMain thead {
      font-weight: bold; }
      .main #calendarMain thead tr {
        width: 100%;
        border: none; }
        .main #calendarMain thead tr th {
          display: table-cell;
          padding: 0;
          line-height: 26px;
          border: none;
          border-radius: 3px; }
    .main #calendarMain tbody td {
      display: table-cell;
      padding: 0;
      line-height: 26px;
      border: none;
      border-radius: 3px;
      cursor: pointer; }
    .main #calendarMain tbody .prevMonth, .main #calendarMain tbody .nextMonth {
      color: #d1d1d1; }
    .main #calendarMain tbody .thisMonth.actived {
      border: 1px solid #89c2fd; }
    .main #calendarMain tbody .thisMonth:hover, .main #calendarMain tbody .thisMonth.selected {
      color: white;
      background-color: #0374ea; }
  .main .calendarFooter {
    width: 100%;
    padding: 8px 20px;
    border-top: 1px solid #e8e8e8; }
    .main .calendarFooter .calendarTimer {
      display: inline-block; }
      .main .calendarFooter .calendarTimer .cancel {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        font-size: 20px;
        color: #a4a4a4;
        text-align: center;
        line-height: 26px;
        border-radius: 3px;
        box-shadow: 0 0 2px #a4a4a4;
        cursor: pointer; }
      .main .calendarFooter .calendarTimer .timerContent {
        display: inline-block;
        width: 80px;
        height: 30px;
        border-radius: 3px;
        box-shadow: 0 0 2px #a4a4a4; }
        .main .calendarFooter .calendarTimer .timerContent span {
          float: left;
          width: 49%;
          height: 100%; }
          .main .calendarFooter .calendarTimer .timerContent span:nth-child(2) {
            width: 2%;
            line-height: 28px; }
        .main .calendarFooter .calendarTimer .timerContent input {
          width: 100%;
          height: 100%;
          border-radius: 3px;
          text-align: center;
          vertical-align: middle; }
          .main .calendarFooter .calendarTimer .timerContent input:hover {
            background-color: #f0f0f0; }
          .main .calendarFooter .calendarTimer .timerContent input::-webkit-outer-spin-button, .main .calendarFooter .calendarTimer .timerContent input::-webkit-inner-spin-button {
            -webkit-appearance: textfield; }
        .main .calendarFooter .calendarTimer .timerContent .hourBox, .main .calendarFooter .calendarTimer .timerContent .minuteBox {
          position: relative; }
        .main .calendarFooter .calendarTimer .timerContent ul {
          position: absolute;
          padding: 0;
          margin: 0;
          right: 0; }
        .main .calendarFooter .calendarTimer .timerContent .iconHour, .main .calendarFooter .calendarTimer .timerContent .iconMinute {
          position: absolute;
          bottom: 0;
          width: 12px;
          height: 100%;
          padding: 5px 0; }
          .main .calendarFooter .calendarTimer .timerContent .iconHour li, .main .calendarFooter .calendarTimer .timerContent .iconMinute li {
            font-size: 12px;
            width: 10px;
            height: 10px;
            text-align: center;
            margin: 0;
            padding: 0;
            cursor: pointer; }
            .main .calendarFooter .calendarTimer .timerContent .iconHour li:nth-child(1), .main .calendarFooter .calendarTimer .timerContent .iconMinute li:nth-child(1) {
              background: url("%PUBLIC_URL%/global/images/time_picker_up@2x.png") center center no-repeat; }
            .main .calendarFooter .calendarTimer .timerContent .iconHour li:nth-child(2), .main .calendarFooter .calendarTimer .timerContent .iconMinute li:nth-child(2) {
              background: url("%PUBLIC_URL%/global/images/time_picker_down@2x.png") center center no-repeat; }
            .main .calendarFooter .calendarTimer .timerContent .iconHour li:hover, .main .calendarFooter .calendarTimer .timerContent .iconMinute li:hover {
              background-color: #dddddd; }

/*# sourceMappingURL=datePicker.css.map */
