html{margin:0;padding:0;border:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,q,dl,dt,dd,ol,ul,li,fieldset,form,legend,caption,tbody,tfoot,thead,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0;border:0;font-size:14px;font:inherit;vertical-align:baseline;font-family: "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Helvetica", "Hiragino Sans GB", sans-serif;}
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{display:block;}
ul,dl{list-style:none;}
body{font-size:12px;color:#212121;background:#fff;}
img{border:0;vertical-align:bottom;}
::-webkit-input-placeholder{font-size:12px;color:#a4a4a4;}
:-moz-placeholder{font-size:12px;color:#a4a4a4;}
::-moz-placeholder{font-size:12px;color:#a4a4a4;}
:-ms-input-placeholder{font-size:12px;color:#a4a4a4;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
textarea{overflow:auto;}
input:focus,textarea:focus,button:focus,select:focus{outline:none;}
input::-ms-clear{display:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
a{background:transparent;}
a:active,a:hover{outline:0;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{color:#000;background:#ff0;}
small{font-size:80%;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{height:0;-moz-box-sizing:content-box;box-sizing:content-box;}
pre{overflow:auto;}
code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}
button,input,optgroup,select,textarea{margin:0;font:inherit;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;outline:none;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid #c0c0c0;}
legend{padding:0;border:0;}
optgroup{font-weight:bold;}
table{border-spacing:0;border-collapse:collapse;}
td,th{padding:0;}

html,body,head,nav,footer,section,div,iframe,p,span,a,input,ul,ol,li,dl,dd,dt,img,h1,h2,h3,h4,h5,h6{margin:0;padding:0;border:none;background:none;vertical-align:top;outline:none;}
html,body{width:100%;height:100%;}
a,a:visited,a:hover,a:active,a:focus{text-decoration:none;outline:none;}
a,a:hover,a:focus{color:#0374ea;}
input::-webkit-search-cancel-button,input[type=search]::-ms-clear,input::-ms-clear,input::-ms-reveal{display:none;}