@font-face {
  font-family: 'font-cloud';
  src:  url('fonts/font-cloud.eot?nxarri');
  src:  url('fonts/font-cloud.eot?nxarri#iefix') format('embedded-opentype'),
    url('fonts/font-cloud.ttf?nxarri') format('truetype'),
    url('fonts/font-cloud.woff?nxarri') format('woff'),
    url('fonts/font-cloud.svg?nxarri#font-cloud') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fc-"], [class*=" fc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-cloud' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fc-bar:before {
  content: "\e942";
}
.fc-dot:before {
  content: "\e931";
}
.fc-check-empty:before {
  content: "\e915";
}
.fc-check:before {
  content: "\e923";
}
.fc-check-checked:before {
  content: "\e917";
}
.fc-check-checked-s:before {
  content: "\e916";
}
.fc-check-o:before {
  content: "\e97a";
}
.fc-check-o-s:before {
  content: "\e979";
}
.fc-close:before {
  content: "\e918";
}
.fc-error-o:before {
  content: "\e99c";
}
.fc-error-s:before {
  content: "\e99b";
}
.fc-move:before {
  content: "\e958";
}
.fc-arrow-up:before {
  content: "\e92b";
}
.fc-arrow-down:before {
  content: "\e928";
}
.fc-arrow-left:before {
  content: "\e929";
}
.fc-arrow-right:before {
  content: "\e92a";
}
.fc-prev:before {
  content: "\e992";
}
.fc-prev-s:before {
  content: "\e991";
}
.fc-next:before {
  content: "\e974";
}
.fc-next-s:before {
  content: "\e973";
}
.fc-retract:before {
  content: "\e9a5";
}
.fc-expand:before {
  content: "\e9a4";
}
.fc-folder:before {
  content: "\e93d";
}
.fc-folder-s:before {
  content: "\e93c";
}
.fc-copyto:before {
  content: "\e939";
}
.fc-copyto-s:before {
  content: "\e938";
}
.fc-moveto:before {
  content: "\e93b";
}
.fc-moveto-s:before {
  content: "\e93a";
}
.fc-cloud:before {
  content: "\e91e";
}
.fc-cloud-s:before {
  content: "\e91b";
}
.fc-cloud-upload:before {
  content: "\e91d";
}
.fc-cloud-upload-s:before {
  content: "\e91c";
}
.fc-cloud-download:before {
  content: "\e91a";
}
.fc-cloud-download-s:before {
  content: "\e919";
}
.fc-upload:before {
  content: "\e937";
}
.fc-download:before {
  content: "\e932";
}
.fc-enter:before {
  content: "\e935";
}
.fc-recall:before {
  content: "\e975";
}
.fc-reload:before {
  content: "\e978";
}
.fc-plus:before {
  content: "\e906";
}
.fc-minus:before {
  content: "\e9a6";
}
.fc-edit:before {
  content: "\e933";
}
.fc-replace:before {
  content: "\e936";
}
.fc-copy:before {
  content: "\e925";
}
.fc-copy-s:before {
  content: "\e924";
}
.fc-export:before {
  content: "\e900";
}
.fc-save:before {
  content: "\e97c";
}
.fc-publish:before {
  content: "\e976";
}
.fc-ai:before {
  content: "\e930";
}
.fc-ai-s:before {
  content: "\e92f";
}
.fc-cart:before {
  content: "\e914";
}
.fc-network:before {
  content: "\e968";
}
.fc-share:before {
  content: "\e981";
}
.fc-loding:before {
  content: "\e952";
}
.fc-loading-line:before {
  content: "\e94f";
}
.fc-search:before {
  content: "\e97d";
}
.fc-zoom-in:before {
  content: "\e99d";
}
.fc-zoom-out:before {
  content: "\e99e";
}
.fc-exit:before {
  content: "\e96f";
}
.fc-trash:before {
  content: "\e92d";
}
.fc-recyclebin:before {
  content: "\e972";
}
.fc-design:before {
  content: "\e92e";
}
.fc-painter:before {
  content: "\e967";
}
.fc-chart-s:before {
  content: "\e983";
}
.fc-spgy:before {
  content: "\e94b";
}
.fc-spgy-s:before {
  content: "\e94a";
}
.fc-other:before {
  content: "\e987";
}
.fc-video:before {
  content: "\e998";
}
.fc-music-l:before {
  content: "\e959";
}
.fc-music:before {
  content: "\e95b";
}
.fc-music-s:before {
  content: "\e95a";
}
.fc-image:before {
  content: "\e945";
}
.fc-images:before {
  content: "\e953";
}
.fc-cutout:before {
  content: "\e927";
}
.fc-unit:before {
  content: "\e990";
}
.fc-shape:before {
  content: "\e980";
}
.fc-background:before {
  content: "\e913";
}
.fc-page:before {
  content: "\e966";
}
.fc-page-s:before {
  content: "\e965";
}
.fc-layout:before {
  content: "\e949";
}
.fc-layout-bottom:before {
  content: "\e955";
}
.fc-layout-top:before {
  content: "\e956";
}
.fc-layout-down:before {
  content: "\e954";
}
.fc-layout-up:before {
  content: "\e957";
}
.fc-grid:before {
  content: "\e940";
}
.fc-size:before {
  content: "\e982";
}
.fc-cut:before {
  content: "\e926";
}
.fc-crop:before {
  content: "\e9a0";
}
.fc-preview:before {
  content: "\e96c";
}
.fc-preview-s:before {
  content: "\e96d";
}
.fc-mobile:before {
  content: "\e96a";
}
.fc-email:before {
  content: "\e934";
}
.fc-tel:before {
  content: "\e986";
}
.fc-tel-s:before {
  content: "\e985";
}
.fc-position:before {
  content: "\e908";
}
.fc-position-s:before {
  content: "\e907";
}
.fc-locked:before {
  content: "\e951";
}
.fc-locked-s:before {
  content: "\e950";
}
.fc-unlock:before {
  content: "\e995";
}
.fc-unlock-s:before {
  content: "\e994";
}
.fc-setting:before {
  content: "\e97f";
}
.fc-setting-s:before {
  content: "\e97e";
}
.fc-adjust:before {
  content: "\e909";
}
.fc-user:before {
  content: "\e905";
}
.fc-users:before {
  content: "\e904";
}
.fc-user-bm:before {
  content: "\e903";
}
.fc-users-bm:before {
  content: "\e901";
}
.fc-user-setting:before {
  content: "\e902";
}
.fc-orders:before {
  content: "\e95e";
}
.fc-renew:before {
  content: "\e977";
}
.fc-devices:before {
  content: "\e9a2";
}
.fc-goods:before {
  content: "\e99f";
}
.fc-h5:before {
  content: "\e9a3";
}
.fc-star:before {
  content: "\e920";
}
.fc-star-s:before {
  content: "\e91f";
}
.fc-comment:before {
  content: "\e922";
}
.fc-comment-s:before {
  content: "\e921";
}
.fc-like:before {
  content: "\e94d";
}
.fc-like-s:before {
  content: "\e94c";
}
.fc-bell:before {
  content: "\e95d";
}
.fc-bell-s:before {
  content: "\e95c";
}
.fc-stopwatch:before {
  content: "\e9a7";
}
.fc-clock:before {
  content: "\e90a";
}
.fc-keyboard:before {
  content: "\e948";
}
.fc-qrcode:before {
  content: "\e96e";
}
.fc-stop:before {
  content: "\e969";
}
.fc-pause:before {
  content: "\e984";
}
.fc-play:before {
  content: "\e96b";
}
.fc-text:before {
  content: "\e98f";
}
.fc-text-bold:before {
  content: "\e98b";
}
.fc-text-italic:before {
  content: "\e98c";
}
.fc-text-linethrough:before {
  content: "\e98d";
}
.fc-text-underline:before {
  content: "\e98e";
}
.fc-text-center:before {
  content: "\e989";
}
.fc-text-left:before {
  content: "\e988";
}
.fc-text-right:before {
  content: "\e98a";
}
.fc-align-top:before {
  content: "\e90c";
}
.fc-align-middle:before {
  content: "\e90d";
}
.fc-align-bottom:before {
  content: "\e90b";
}
.fc-align-left:before {
  content: "\e90f";
}
.fc-align-center:before {
  content: "\e910";
}
.fc-align-right:before {
  content: "\e911";
}
.fc-distribute-v:before {
  content: "\e912";
}
.fc-distribute-h:before {
  content: "\e90e";
}
.fc-page-left:before {
  content: "\e961";
}
.fc-page-center:before {
  content: "\e960";
}
.fc-page-right:before {
  content: "\e962";
}
.fc-page-top:before {
  content: "\e963";
}
.fc-page-middle:before {
  content: "\e964";
}
.fc-page-bottom:before {
  content: "\e95f";
}
.fc-solid:before {
  content: "\e94e";
}
.fc-dashed:before {
  content: "\e92c";
}
.fc-border:before {
  content: "\e9a1";
}
.fc-radius-same:before {
  content: "\e971";
}
.fc-radius-different:before {
  content: "\e970";
}
.fc-flip-v:before {
  content: "\e93e";
}
.fc-flip-h:before {
  content: "\e93f";
}
.fc-group:before {
  content: "\e941";
}
.fc-ungroup:before {
  content: "\e993";
}
.fc-rotate:before {
  content: "\e97b";
}
.fc-verify:before {
  content: "\e997";
}
.fc-verify-s:before {
  content: "\e996";
}
.fc-info:before {
  content: "\e947";
}
.fc-info-s:before {
  content: "\e946";
}
.fc-question:before {
  content: "\e944";
}
.fc-question-s:before {
  content: "\e943";
}
.fc-warning:before {
  content: "\e99a";
}
.fc-warning-s:before {
  content: "\e999";
}
.fc-shop:before {
  content: "\e9a8";
}
.fc-wallet:before {
  content: "\e9a9";
}
.fc-package:before {
  content: "\e9aa";
}
.fc-truck:before {
  content: "\e9ab";
}
.fc-completed:before {
  content: "\e9ac";
}
.fc-closed:before {
  content: "\e9ad";
}
.fc-minimize:before {
  content: "\e9ae";
}
.fc-maximize:before {
  content: "\e9af";
}
